DV_client/Connected Services/Server/DV_server2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DV_server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DV_server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4880/DV_server.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfEmail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Email" nillable="true" type="tns:Email" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmail" nillable="true" type="tns:ArrayOfEmail" />
  <xs:complexType name="Email">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="copy" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="from" type="xs:int" />
      <xs:element minOccurs="0" name="header" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="hidden_copy" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tags" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="to" nillable="true" type="q4:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Email" nillable="true" type="tns:Email" />
</xs:schema>