DV_client/Connected Services/Server/DV_server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4880/DV_server.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models" />
  <xs:import schemaLocation="http://localhost:4880/DV_server.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="GetEmails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="GetEmailsResult" nillable="true" type="q1:ArrayOfEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="email" nillable="true" type="q2:Email" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="GetUsersResult" nillable="true" type="q3:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GetTagsResult" nillable="true" type="q4:ArrayOfKeyValuePairOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>