DV_client/Connected Services/Server/Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Server" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4880/DV_server.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4880/DV_server.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4880/DV_server.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DV_server" />
      <xsd:import schemaLocation="http://localhost:4880/DV_server.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDV_server_GetEmails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmails" />
  </wsdl:message>
  <wsdl:message name="IDV_server_GetEmails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailsResponse" />
  </wsdl:message>
  <wsdl:message name="IDV_server_saveEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:saveEmail" />
  </wsdl:message>
  <wsdl:message name="IDV_server_saveEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IDV_server">
    <wsdl:operation name="GetEmails">
      <wsdl:input wsaw:Action="http://tempuri.org/IDV_server/GetEmails" message="tns:IDV_server_GetEmails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDV_server/GetEmailsResponse" message="tns:IDV_server_GetEmails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDV_server/saveEmail" message="tns:IDV_server_saveEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDV_server/saveEmailResponse" message="tns:IDV_server_saveEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDV_server" type="tns:IDV_server">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmails">
      <soap:operation soapAction="http://tempuri.org/IDV_server/GetEmails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveEmail">
      <soap:operation soapAction="http://tempuri.org/IDV_server/saveEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Server">
    <wsdl:port name="BasicHttpBinding_IDV_server" binding="tns:BasicHttpBinding_IDV_server">
      <soap:address location="http://localhost:4880/DV_server.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>